@import '@/variables'

.Mobile
  font-size: 0.9em

.Private
  .Main
    padding: 0 $body-side-spacing
    margin-bottom: $mobile-footer-height

.Public
  .Main
    padding: 0 $body-side-spacing
    margin-bottom: $mobile-footer-height
